.Players {
    text-align: center;
    padding: 2rem 0 0 0;
}

.SongInfo {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 330px;
    margin: 0 auto;
}

.SongInfo p {
    font-size: 14px;
}

.SongInfo input {
    display: inline-block;
    width: 230px;
    margin: 0 20px;
}
.SongsControlIcon  {
    padding: 1.4rem 0;
    display: flex;
    width: 330px;
    margin: 0 auto; 
    flex-flow: row nowrap;
    justify-content: space-between;
}


.SongsControlIcon svg {
    font-size: 30px;
    cursor: pointer;
}

.SongsControlIcon span:nth-child(3) {
    margin: 0 4rem;
}

.SongsControlIcon span {
    display: inline-block;
    cursor: pointer;
}

.ResIcon {
    display: inline-block;
}

.ResIcon.Active  {
    color: rgb(0, 195, 255);
}


@media (max-width: 400px) {
    .SongInfo {
        width: 100%;
        padding: 1rem 2rem;
    }
    .SongInfo input {
        width: 80%;
    }

    .SongsControlIcon {
        width: 100%;
        padding: 1.4rem 2rem;
    }
}

@media (max-width: 350px) {
    .SongInfo {
        width: 100%;
        padding: 1rem 1.5rem;
    }
    .SongInfo input {
        width: 80%;
    }

    .SongsControlIcon {
        width: 100%;
        padding: 1.4rem 1.5rem;
    }
}

@media (max-width: 290px) {
    .SongInfo {
        width: 100%;
        padding: 1rem 1.5rem;
    }
    .SongInfo input {
        width: 80%;
    }

    .SongsControlIcon {
        width: 100%;
        padding: 1.4rem 1.5rem;
    }
    .SongsControlIcon span:nth-child(3) {
        margin: 0 5%;
    }
}